@import "./_config";

.maps {
  margin: 1rem auto;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  width: clamp(600px, 100%, 1200px);
}

.maps__image {
  width: 70%;
  height: 70%;
}

.maps__right {
  padding-left: 1rem;
}

.maps__right__title {
  margin: 0;
}
